<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="card">
    <div class="card-header">Se connecter</div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="email_address" class="col-md-3 col-form-label text-md-right">Email:</label>
            <div class="col-md-6">
                <input type="email" formControlName="email" id="email_address" class="form-control" name="email-address" required autofocus>
                <div *ngIf="submitted && f.email.errors">
                  <div *ngIf="f.email.errors" class="error-text">Veuillez verifiez votre email.</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-md-3 col-form-label text-md-right">Password:</label>
            <div class="col-md-6">
                <input type="password" formControlName="password" id="password" class="form-control" name="password" required autofocus>
                <div *ngIf="submitted && f.password.errors">
                  <div *ngIf="f.password.errors.required"  class="error-text">Mot de passe requis.</div>
              </div>
            </div>
        </div>
        <div class="text-center login-btn">
          <button type="submit" class="btn btn-primary">
              Connexion
          </button>
        </div>
      </form>
    </div>
  </div>
</div>